<div class="header">
    <div class="left-controls">
        <button mat-fab>
            <mat-icon>sort</mat-icon>
        </button>

        <button mat-fab>
            <mat-icon>filter_alt</mat-icon>
        </button>

        <input type="text" placeholder="Filter by city" #filter>
        <button class="search-btn" type="button">Search</button>
    </div>

    <div class="right-controls">
        <button mat-fab>
            <mat-icon>add</mat-icon>
        </button>
        <span class="add-label">Add</span>
    </div>
</div>

<app-listofhelpers></app-listofhelpers>